<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="base :: header"></div>
<div th:replace="base :: nav"></div>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Ticket</th>
            <th>Payment</th>
            <th>Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trip : ${list}">
            <td th:text="'Ticket #' + ${trip.id}"></td>
            <td th:if="${trip.creditCard.split(', ')[1].length()} >= 16"
                th:text="${trip.creditCard.split(', ')[0]} + ' | Ending in ****' +
                    ${trip.creditCard.split(', ')[1].substring(12)}"></td>
            <td th:if="${trip.creditCard.split(', ')[1].length()} < 16"
                th:text="'Unknown Credit Card'"></td>
            <td th:if="${trip.flightFromId} != 0">
                <p th:text="'Roundtrip'"></p>
                <p th:text="${from.get(trip.flightFromId)}"></p>
                <p th:text="${to.get(trip.flightToId)}"></p>
            </td>
            <td th:if="${trip.flightFromId} == 0" >
                <p th:text="'One-way Flight'"></p>
                <p th:text="${from.get(trip.flightFromId)}"></p>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/viewTicket/{id}(id=${trip.id})}">
                    View Details
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="base :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>