<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base::header">
<body style="background-image: url('https://images4.alphacoders.com/528/thumb-1920-52896.jpg'); background-repeat: no-repeat; background-size: cover;">
<div th:replace="base::nav"></div><br>
<div class=container
     style="background-color: rgba(255, 255, 255, 0.5);  border-radius: 25px; padding: 20px; width:1300px; margin:0 auto; text-align: center;"><br>
    <div class="main">
        <!------------------------------------------------------------------------------------------------------------------------------------------>
        <div class="container rounded">
            <h1>Please Review Your Trip Order:</h1><br/>
            <div th:text="${name}"></div>
            <div th:text="${creditcardnumber}"></div>
            <div th:text="${cvv}"></div>
            <div th:text="${expirationdate}"></div>

            <div class="row container">
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="card m-2" style="width: 15rem;" th:each="user : ${users}">
                    <div class="card-header bg-dark text-white">User Details</div>
                    <br>
                    <div class="card-body">
                        <div class="panel-heading">Name: <span th:text="${user.firstName}"></span> <span
                                th:text="${user.lastName}"></span></div>
                        <br>
                        <div class="panel-heading">DOB: <span th:text="${user.birthDate}"></span></div>
                        <br>
                        <div class="panel-heading">Email: <span th:text="${user.email}"></span></div>
                        <br>
                        <div class="panel-heading">Phone: <span th:text="${user.phone}"></span></div>
                        <br>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="card m-2" style="width: 15rem;" th:each="person : ${persons}">
                    <div class="card-header bg-dark text-white">Passengers</div>
                    <br>
                    <div class="card-body">
                        <div class="panel-heading"><span th:text="${person.name}"></span>
                            <br>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="card m-2" style="width: 15rem;" th:each="trip : ${trips}">
                    <div class="card-header bg-dark text-white">Your Flight Details:</div>
                    <br>
                    <div class="card-body">
                        <div class="panel-heading">Flight Type: <span th:text="${classMap.get(trip.type)}"></span></div>
                        <br>
                        <div class="panel-heading">Passengers: <span th:text="${trip.passengers}"></span></div>
                        <br>
                        <div class="panel-heading">To Location: <span th:text="${toLoc}"></span></div>
                        <br>
                        <div class="panel-heading">From Location: <span th:text="${fromLoc}"></span></div>
                        <br>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="card m-2" style="width: 15rem;" th:each="trip : ${trips}">
                    <div class="card-header bg-dark text-white">Payment Details:</div>
                    <br>
                    <div class="card-body">
                        <div class="panel-heading">Name: <span th:text="${trip.creditCard.split(', ')[0]}"></span></div>
                        <br>
                        <div class="panel-heading">Credit Card: <span th:text="'Ending in ****' +
                    ${trip.creditCard.split(', ')[1].substring(12)}"></span></div>
                        <br>
                        <div class="panel-heading">Expiration Date: <span
                                th:text="${trip.creditCard.split(', ')[3]}"></span></div>
                        <br>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------>
            </div>
            <form action="#" th:action="@{/processFinalize}" method="post">
                <input hidden th:value="${id}" id="id" name="id"/>
                <p><input class="btn btn-primary" type="submit" value="Submit"/> <a class="btn btn-primary" href="/">Cancel</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>