<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base::header">
<body>
<div th:replace="base::nav"></div>
<div class="container">
    <div class = "main">
        <!------------------------------------------------------------------------------------------------------------------------------------------>
        <div class="container rounded">
            <h1>Please Review Your Trip Order:</h1><br/>
            <div th:text="${id}"></div>
            <div class="card m-2" style="width: 17rem;">
                <label>
                    <div class="panel panel-default card-input" th:each="user : ${users}">
                        <div class="card-header bg-info text-white">Personal Details</div></br>
                        <div class="card-body">
                            <div class="panel-heading">Name: <td th:text = "${user.firstName}"/> <td th:text = "${user.lastName}"/></div></br>
                            <div class="panel-heading">DOB: <td th:text = "${user.birthDate}"></div></br>
                            <div class="panel-heading">Email: <td th:text = "${user.email}"></div></br>
                            <div class="panel-heading">Phone: <td th:text = "${user.phone}"></div></br>
                        </div>
                    </div>
                </label>

                <label>
                    <div class="panel panel-default card-input" th:each="trip : ${trips}">
                        <div class="card-header bg-info text-white">Your Flight Details:</div></br>
                        <div class="card-body">
                            <div class="panel-heading">Flight Type: <td th:text = "${trip.type}"></div></br>
                            <div class="panel-heading">Passengers: <td th:text = "${trip.passengers}"></div></br>
                            <div class="panel-heading">To Location: <td th:text = "${trip.flightToId}"></div></br>
                            <div class="panel-heading">From Location: <td th:text = "${trip.flightFromId}"></div></br>
                        </div>
                    </div>
                </label>

                <label>
                    <div class="panel panel-default card-input" th:each="trip : ${trips}">
                        <div class="card-header bg-info text-white">Payment Details:</div></br>
                        <div class="card-body">
                            <div class="panel-heading">Credit Card: <td th:text = "${trip.creditCard}"></div></br>
                        </div>
                    </div>
                </label>
            </div>
            <form action="#" th:action="@{/processFinalize}" method="post">
                <input hidden th:value="${id}" id="id" name="id"/>
                <p><input class="btn btn-primary" type="submit" value="Submit"/> <a class="btn btn-primary" href="/">Cancel</a></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>