<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::header">
    <title>List</title>
    <script>
        function disable() {
            document.getElementById("destTo").hidden = true;
            document.getElementById("toDate").hidden = true;
        }

        function enable() {
            document.getElementById("destTo").hidden = false;
            document.getElementById("toDate").hidden = false;
        }
    </script>
</head>

<body>
<div th:replace="base::nav"></div>
<div class="container">
    <div class="jumbotron lead text-center">
        <h1>
            Flight tickets to anywhere in the US and around the world
        </h1>
        <br />
        <form action="#" th:action="@{/search}" method="post">


            <!-- Default inline 1-->
            <div class="custom-control custom-radio custom-control-inline">
                <input onclick="
                        document.getElementById('toDateDiv').hidden = true;"
                        type="radio" class="custom-control-input" value="0" id="oneWay" name="type">
                <label class="custom-control-label" for="oneWay">One Way</label>
            </div>

            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
                <input onclick="
                        document.getElementById('toDateDiv').hidden = false;"
                       checked="checked" type="radio" class="custom-control-input" value="1" id="roundTrip" name="type">
                <label class="custom-control-label" for="roundTrip">Round Trip</label>
            </div>
            <br/>
            <br/>
            

            <!--            <div class="col-md-8 mb-3">-->
            <div class="col-md-8 mb-3 custom-control-inline">
                <!--            <div class="col-auto ">-->
                <label class="mr-md-4" for="passengers"># of passengers</label>
                <input type="number" value="1" class="form-control mr-md-4" name="passengers" id="passengers"/>
            </div>
            <br />


            <div class="col-md-8 mb-3 custom-control-inline">
                <!--            <div class="col-auto ">-->
                <label class="mr-md-4" for="class">Flight Class</label>
                <select class="custom-select mr-md-4" name="class" id="class">
                    <option value="7" selected>Choose...</option>
                    <option value="1">Economy</option>
                    <option value="2">First Class</option>
                    <option value="3">Business</option>
                    <option value="7">Any</option>
                </select>
            </div>

            <div class="col-md-8 mb-3 custom-control-inline">
                <!--            <div class="col-auto ">-->
                <label class="mr-sm-2" for="destFrom">Departure Location</label>
                <select class="custom-select mr-sm-2" name="destFrom" id="destFrom">
                    <option selected>Choose...</option>
                    <option th:each="place : ${flightsfrom}"
                            th:value="${place}"
                            th:text="${place}">
                    </option>
                </select>
            </div>


            <div id="toDiv" class="col-md-8 mb-3 custom-control-inline">
                <label class="mr-sm-2" for="destTo">Arrival Location</label>
                <select class="custom-select mr-sm-2" name="destTo" id="destTo">
                    <option selected>Choose...</option>
                    <option th:each="place : ${flightsto}"
                            th:value="${place}"
                            th:text="${place}">
                    </option>
                </select>
            </div>

            <div class="col-md-8 mb-3 custom-control-inline">
                <label class="mr-sm-2" for="fromDate">Departure Date</label>
                <input type="date" th:value="${date}" class="form-control mr-sm-2" name="fromDate" id="fromDate"/>
            </div>

            <div id="toDateDiv" class="col-md-8 mb-3 custom-control-inline">
                <label class="mr-sm-2" for="toDate">Return Date</label>
                <input type="date" th:value="${date}" class="form-control mr-sm-2" name="toDate" id="toDate"/>
            </div>
            <div>
            <input type="submit" class="btn btn-primary"/>
            </div>
        </form>
    </div>









    <!--<div class="form-group row">-->
    <!--    <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>-->
    <!--    <div class="col-sm-10 text-left">-->
    <!--        <select class="form-control" name = "ToLocation">-->
    <!--&lt;!&ndash;            <span th:text="${user.firstName} +' ' +${user.lastName}"></span><br/>&ndash;&gt;-->
    <!--            <div th:each="flight : ${flights}">-->
    <!--                <option id="projectname" th:text="${flight.ToLocation}"></option>-->
    <!--            </div>-->
    <!--        </select>-->
    <!--        <strong>-->
    <!--                        <span class="error-message"-->
    <!--                              th:errors="*{flight}"-->
    <!--                              th:if="${#fields.hasErrors('flight')}">Project Name Error-->
    <!--                        </span>-->
    <!--        </strong>-->
    <!--    </div>-->
    <!--</div>-->



    <!--<form action="#" enctype="multipart/form-data" method="post"-->
    <!--      th:action="@{/process}" th:object="${flight}">-->

    <!--    &lt;!&ndash;Hidden properties&ndash;&gt;-->
    <!--    <input th:field="*{id}" type="hidden"/>-->

    <!--    <input th:field="*{user}" th:value="${user}" type="hidden">-->

    <!--    <div class="text-left">-->
    <!--        <div class="form-group row">-->
    <!--            <label class="col-sm-2 col-form-label" for="title">Title:</label>-->
    <!--            <div class="col-sm-10">-->
    <!--                <input class="form-control" id="title" placeholder="Enter Title"-->
    <!--                       th:field="*{date}" type="text"/>-->
    <!--                <span class="error-message" th:errors="*{date}" th:if="${#fields.hasErrors('date')}"></span>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</form>-->
</div>
    <div th:replace="base::footer"></div>
</body>
</html>