<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/pass.css">

</head>
<body>
<div class="ticket">
    <header>
        <div class="company-name">
            American Airlines
        </div>
        <div class="gate">
            <div>
                Gate
            </div>
            <div>
                B4
            </div>
        </div>
    </header>
    <section class="airports">
        <div class="airport">
            <div class="airport-name">
                Charlotte
            </div>
            <div class="airport-code">
                CLT
            </div>
            <div class="dep-arr-label">
                Departing
            </div>
            <div class="time">
                7:45am
            </div>
        </div>
        <div class="airport">
            <div class="airport-name">
                Tampa
            </div>
            <div class="airport-code">
                TPA
            </div>
            <div class="dep-arr-label">
                Arriving
            </div>
            <div class="time">
                9:15am
            </div>
        </div>
    </section>
    <section class="place">
        <div class="place-block">
            <div class="place-label">
                Group
            </div>
            <div class="place-value">
                2
            </div>
        </div>
        <div class="place-block">
            <div class="place-label">
                Seat
            </div>
            <div class="place-value">
                2A
            </div>
        </div>
        <div class="place-block">
            <div class="place-label">
                Term
            </div>
            <div class="place-value">
                B
            </div>
        </div>
        <div class="qr">
            <img src="http://www.classtools.net/QR/pics/qr.png"/>
        </div>
    </section>
</div>
<div class="ticket inverse">
    <header>
        <div class="company-name">
            American Airlines
        </div>
        <div class="gate">
            <div>
                Gate
            </div>
            <div>
                B4
            </div>
        </div>
    </header>
    <section class="airports">
        <div class="airport">
            <div class="airport-name">
                Charlotte
            </div>
            <div class="airport-code">
                CLT
            </div>
            <div class="dep-arr-label">
                Departing
            </div>
            <div class="time">
                7:45am
            </div>
        </div>
        <div class="airport">
            <div class="airport-name">
                Tampa
            </div>
            <div class="airport-code">
                TPA
            </div>
            <div class="dep-arr-label">
                Arriving
            </div>
            <div class="time">
                9:15am
            </div>
        </div>
    </section>
    <section class="place">
        <div class="place-block">
            <div class="place-label">
                Group
            </div>
            <div class="place-value">
                2
            </div>
        </div>
        <div class="place-block">
            <div class="place-label">
                Seat
            </div>
            <div class="place-value">
                2A
            </div>
        </div>
        <div class="place-block">
            <div class="place-label">
                Term
            </div>
            <div class="place-value">
                B
            </div>
        </div>
        <div class="qr">
            <img src="http://www.classtools.net/QR/pics/qr.png"/>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>